* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

body{
	background-color: #eee; 
}

.container{
	width: 1000px;
	margin: 0px auto;
}

.head{
	width: 197px;
  	word-wrap: break-word;
}

.head span{
	font-size: 20px;
  	color: #D5D0CE;
  	font-family: 'Arial Normal', 'Arial';
  	font-weight: 400;
  	font-style: normal;
}

.head_hr{
	margin-bottom: 80px;
	margin-top: -10px;
}

.content{
	float: right;
}

.line{
	display: table;
	margin-bottom: 40px;
}

.line img{
	width: 156px;
    height: 160px;
    margin: 0px 10px;
}

.img{
	display: table-cell;
	vertical-align: middle;
}

.desc{
	display: table-cell;
	width: 700px;
	height: 300px;
	background-color: #fff;
	padding: 20px;
}

.desc p{
	text-indent: 2em;
	line-height: 1.5em;
	letter-spacing: 2px;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}	